# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.coverage
coverage.xml

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

.idea/
